

$color-primary: #76F9D8;
$fountain-blue: #52bab3;
$emerald: #5ece7f;
$sunglo: #e67478;
$coral: #ff784f;
$purple-majesty: #9279c3;
$scooter: 39add1;

//UI Colors

//$ui-colors: (
  //default: $fountain-blue,
  //success: $emerald,
  //error: $sunglo,
  //warning: $coral,
  //info: $purple-majesty
//);


//$font-stack-primary: 'Raleway', sans-serif;
$font-stack-secondary: 'Bree Serif', serif;//

$brkpoint-sm      :  1px;
$brkpoint-md      :  480px;
$brkpoint-lg      :  1100px;

$max-width: 1000px;


* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  }


p{
  color: #C0C0C0;
  font-weight: 200px;
  }


ul{
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  }


  .header {
    margin: 0;
  }



.img--logo{
  align-self: center;
}



 


 

  


