//Forms//
    
    
    .form__label--hidden{
      display: none;
    }

    .form__input {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 5px solid #00ffcc;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      padding: 10px;
    }