//Grid//

$g-col-width: 65px;
$g-gutter-width: 20px;
$g-col-count: 12;
$g-container-max-width: 1050px;

// Set the "context" width for the grid

@function g-context ($g-col-width, $g-col-count, $g-gutter-width) {
  $g-context: ($g-col-width * $g-col-count) + ($g-gutter-width * ($g-col-count - 1));
  @return $g-context;
}




[class*="grid__col--"] {
  width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}

.centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
}


.grid {
    @extend .centered;
    width: 90%;
}

.grid__row{
    padding: 5%;
}


  .grid__col--6{
  color: grey;
  display: block;
  font-size: 0.85em;
  font-weight: bold;
  text-decoration: none;
  padding: 0.75em 1.5em;
  border-radius:.35em;
  background-color: #52bab3;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  }



.grid__col--4{
  color: grey;
  display: block;
  font-size: 0.85em;
  font-weight: bold;
  text-decoration: none;
  padding: 0.75em 1.5em;
  border-radius:.35em;
  background-color: #39add1;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  }

  .grid__col--3{
  color: grey;
  display: block;
  font-size: 0.85em;
  font-weight: bold;
  text-decoration: none;
  padding: 0.75em 1.5em;
  border-radius:.35em;
  background-color: #9279c3;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  }

  .grid__col--5{
  color: grey;
  display: block;
  font-size: 0.85em;
  font-weight: bold;
  text-decoration: none;
  padding: 0.75em 1.5em;
  border-radius:.35em;
  background-color: #5ece7f;;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  }

  .grid__col--7{
  color: grey;
  display: block;
  font-size: 0.85em;
  font-weight: bold;
  text-decoration: none;
  padding: 0.75em 1.5em;
  border-radius:.35em;
  background-color: #e67478;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  }

  .grid__col--8{
  color: grey;
  display: block;
  font-size: 0.85em;
  font-weight: bold;
  text-decoration: none;
  padding: 0.75em 1.5em;
  border-radius:.35em;
  background-color: #ff784f;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  }

  .grid__col--9{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  }


  /*Media Queries*/

  @include media (medium) {

  .container{
    flex-direction: row;
    flex-wrap: wrap;
    }

    // [class^="grid__col--"]:last-of-type {
  //   float: none !important;
  // }  
  

  .nav__item {
    display: inline-block;
    }


  .grid__row{
    display: flex;
    width: 100%;
  }

  .centered .grid__col--7{
    margin: 0 auto;
  }


// Calculate grid columns

@for $i from 1 through $g-col-count {

$context: g-context($g-col-width, $g-col-count, $g-gutter-width);
$target: ($g-col-width * $i) + ($g-gutter-width * ($i - 1));

// Generate column modifer classes
    .grid__col--#{$i} {
    width: percentage($target / $context);
    }
}

  }


  //column styles
[class^="grid__col--"]{
 @include media(small){
   margin-top:em(12px);
   margin-bottom:em(12px);
 }
 @include media(medium){
   float:left;
   min-height: 1px;
   padding-left:10px;
   padding-right:10px;
   &:last-of-type{
     float:right;
   }
 }
}






