

 .img--logo{
    @extend %img;
    align-self:center;
  }

.img--avatar {
  @extend %img;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
}

.img--frame {
  @extend %img;
  margin-top: 20px;
  width: 80%;
  background:transparent;
  padding:5px;
  border:1px solid #999999;
}

