%nav {
     text-align: center;
  }


 .nav__item, 
  {
  @extend %nav;
    a:link{
      color: #C0C0C0;
      display: block;
      font-size: 0.85em;
      text-decoration: none;
      padding: 0.75em 1.5em;
      border-radius:.35em;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    a:hover{
      color: #fff;
      background-color: $color-primary;
      
    }

    a:visited{
      color: #C0C0C0;
    }
 }