


.container{
   padding: 10%;
  }


%a{
    text-decoration: none;
  }

.link {
  @extend %a; 
  color: #76F9D8;
}

.blockquote{
  color: gray;
  font-size: 20px;
  font-style: italic;
  border-left: 5px solid #00ffcc;
  border-radius: 5px;
  margin: 5%;
}


%headline {
  text-align: left;
}

.headline--primary{
  @extend %headline;
  color: #00ffcc;}


.headline--secondary{
    @extend %headline;
    color: gray;
  }